Name: Frame
Version: 1.0
Description: Configure the frame of your status bar
Maintainer: waruhachi
Author: waruhachi
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate, preferenceloader
Package: moe.waru.frame
