<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>moe.waru.frame.preferences</string>
            <key>key</key>
            <string>enabled</string>
            <key>label</key>
            <string>Enabled</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Position</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>moe.waru.frame.preferences</string>
            <key>key</key>
            <string>frameX</string>
            <key>label</key>
            <string>X</string>
            <key>keyboard</key>
            <string>numbers</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>moe.waru.frame.preferences</string>
            <key>key</key>
            <string>frameY</string>
            <key>label</key>
            <string>Y</string>
            <key>keyboard</key>
            <string>numbers</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Size</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>moe.waru.frame.preferences</string>
            <key>key</key>
            <string>frameWidth</string>
            <key>label</key>
            <string>Width</string>
            <key>keyboard</key>
            <string>numbers</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>moe.waru.frame.preferences</string>
            <key>key</key>
            <string>frameHeight</string>
            <key>label</key>
            <string>Height</string>
            <key>keyboard</key>
            <string>numbers</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Apply</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Respring</string>
            <key>action</key>
            <string>respring</string>
            <key>confirmation</key>
            <dict>
                <key>prompt</key>
                <string>Are you sure you want to continue?</string>
                <key>title</key>
                <string>Respring</string>
                <key>cancelTitle</key>
                <string>Cancel</string>
            </dict>
        </dict>
    </array>
    <key>title</key>
    <string>Frame</string>
</dict>
</plist>

